@keyframes arrow-down-up {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(20%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes arrow-left-right {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-30%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes arrow-right-left {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(30%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0);
  }
}
.animation1 {
  transform: translateY(250px);
  opacity: 0;
}

.animation1.active {
  animation: animation1 2s forwards;
  -webkit-animation: animation1 2s forwards;
}
@keyframes animation1 {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: var(--scroll-padding, 7.4rem);
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", "Arial", "Helvetica", "Tahoma", sans-serif;
  color: #000;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", "Helvetica", "Tahoma", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

h1,
header h2 {
  font-size: 6rem;
  font-style: normal;
  line-height: 1.2;
}

h2 {
  font-size: 4.8rem;
  line-height: 115%;
}
h2 span {
  font-style: italic;
}

h3 {
  font-size: 2.8rem;
}

p,
a {
  font-size: 1.6rem;
  font-family: "Inter", "Arial", "Helvetica", "Tahoma", sans-serif;
  line-height: 150%;
  color: #000;
}

a {
  transition: all 0.55s;
  text-decoration: none;
}
a:hover {
  color: initial;
}

.container {
  padding: 0;
  max-width: 125rem;
}

.padding-top-bottom {
  padding: 12rem 0 16rem 0;
}

.underline {
  position: relative;
  padding-bottom: 0.6rem;
}
.underline::before {
  transition: all 0.55s;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 0.15em;
  background-color: #1b5b31;
  transform-origin: left;
}
.underline:hover {
  color: #1b5b31;
}
.underline:hover::before {
  right: auto;
  left: 0;
  width: 100%;
}
.underline:hover svg path {
  fill: #1b5b31;
}

.btn {
  transition: all 0.55s;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  color: #1b5b31;
  border: 1px solid #1b5b31;
  border-radius: 200px;
}

.btn:focus {
  box-shadow: none;
}

.btn.btn-1 {
  position: relative;
  margin-right: 3.6rem;
  padding: 1.2rem 2.4rem 1.4rem;
  color: #f5f0ec;
  background-color: #1b5b31;
  overflow: hidden;
  z-index: 0;
}
.btn.btn-1 span {
  transition: all 0.55s;
  position: relative;
  z-index: 2;
}
.btn.btn-1::before {
  transition: all 0.55s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  background-color: #dcc1ab;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  z-index: 1;
}
.btn.btn-1:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  opacity: 1;
}
.btn.btn-1:hover span {
  color: #1b5b31;
}

.btn-2 .btn-2-arrow {
  margin-left: 0.8rem;
}
.btn-2 .btn-2-arrow svg {
  width: 1.6rem;
  height: 1.7rem;
}
.btn-2:hover {
  color: #1b5b31;
}
.btn-2:hover span svg {
  animation: arrow-down-up 1.5s infinite;
}

.navi-small {
  display: inline-block;
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #1b5b31;
}

.cookie-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  right: 0;
  height: 20rem;
  width: 45rem;
  text-align: center;
  font-size: 2rem;
  background-color: #dcc1ab;
  border-top-left-radius: 3rem;
  opacity: 0;
  transform: translateY(100%);
  animation: show-cookies 0.5s 0.5s forwards;
  z-index: 999;
}
.cookie-box p {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}
.cookie-box .underline {
  width: auto;
  align-self: center;
}
.cookie-box .cookie-btn {
  align-self: center;
  margin: 1rem 0 0;
  width: auto;
}

.hide {
  display: none;
}

@keyframes show-cookies {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  background-color: #fff;
  z-index: 999;
}
.navbar .container {
  padding: 2.4rem 0;
}
.navbar .container .search-bar-mobile {
  display: none;
}
.navbar .container .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .container .navbar-nav {
  margin-left: auto;
}
.navbar .container .navbar-nav .nav-item {
  padding: 0 2.4rem;
}
.navbar .container .navbar-nav .nav-item:first-of-type a:hover::before {
  width: 100%;
}
.navbar .container .navbar-nav .nav-item .drop-toggle {
  position: relative;
}
.navbar .container .navbar-nav .nav-item .drop-toggle svg {
  margin-bottom: 0.5rem;
}
.navbar .container .navbar-nav .nav-item .drop-toggle svg path {
  transition: all 0.55s;
  fill: #000;
}
.navbar .container .navbar-nav .nav-item .dropdown-menu {
  transition: all 0.55s;
  background-color: #dcc1ab;
  border: 0;
}
.navbar .container .navbar-nav .nav-item .dropdown-menu li a {
  padding: 1.5rem;
}
.navbar .container .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  transition: all 0.95s;
  font-size: 1.6rem;
}
.navbar .container .navbar-nav .nav-item .dropdown-menu .dropdown-item::before {
  opacity: 0;
}
.navbar .container .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #eee0d5;
}
.navbar .container .navbar-nav .nav-item .dropdown-menu[data-bs-popper] {
  top: 130%;
  left: 2.6rem;
}
.navbar .container .search-bar {
  position: relative;
  margin-left: 2rem;
}
.navbar .container .search-bar button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.navbar .container .search-bar button svg {
  width: 2.4rem;
  height: 2.4rem;
}
.navbar .container .search-bar button svg path {
  fill: #000;
}
.navbar .container .search-bar .search-form {
  position: absolute;
  display: none;
  top: 3rem;
  right: 0;
  padding: 4rem 4rem;
  background-color: #fff;
  border-bottom-left-radius: 9rem;
  border-bottom-right-radius: 9rem;
}
.navbar .container .search-bar .search-form .form-control {
  width: 27.5rem;
  padding-top: 0.8rem;
  border: 1px solid #000;
  border-radius: 20rem;
}
.navbar .container .search-bar .search-form .form-control::-moz-placeholder {
  margin-top: 1rem;
  padding: 1rem 0 0 1.5rem;
  font-size: 1.6rem;
}
.navbar .container .search-bar .search-form .form-control::placeholder {
  margin-top: 1rem;
  padding: 1rem 0 0 1.5rem;
  font-size: 1.6rem;
}
.navbar .container .search-bar .search-form .form-control:focus {
  color: rgba(0, 0, 0, 0.7);
  border-color: #000;
  box-shadow: none;
}
.navbar .container .search-bar .search-form button {
  margin-left: 2rem;
  color: #fff;
  background-color: #1b5b31;
  border-radius: 20rem;
}
.navbar .container .search-bar .show-search-bar {
  display: flex;
}

header {
  position: relative;
  margin-top: 7.4rem;
  display: flex;
  height: 80vh;
  background-color: #dcc1ab;
  overflow: hidden;
}
header .fluid-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../img/ogrod-zywoplot-giarddesign.webp");
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center right -3.2rem;
}
header .fluid-container .container {
  display: flex;
  align-items: center;
}
header .fluid-container .container .col-lg-6 {
  padding-right: 8rem;
}
header .fluid-container .container h1,
header .fluid-container .container h2 {
  margin-bottom: 4.4rem;
}
header .fluid-container .container p {
  margin-bottom: 7.2rem;
  padding-right: 10rem;
}
header .swiper-nav {
  transition: all 0.75s;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 19.2rem;
  height: 9.6rem;
  background-color: #fff;
  z-index: 1;
}
header .swiper-nav .col-6 {
  transition: all 0.75s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .swiper-nav .col-6:hover {
  background-color: #dcc1ab;
}
header .swiper-nav .col-6:hover .swiper-button-prev:after {
  animation: arrow-left-right 1.5s infinite;
}
header .swiper-nav .col-6:hover .swiper-button-next:after {
  animation: arrow-right-left 1.5s infinite;
}
header .swiper-nav .swiper-button-prev,
header .swiper-nav .swiper-button-next {
  position: static;
  padding-top: 2.2rem;
}
header .swiper-nav .swiper-button-next:after,
header .swiper-nav .swiper-button-prev:after {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  width: 2.7rem;
  height: 2.4rem;
  font-family: none;
}
header .swiper-nav .swiper-button-prev:after {
  background-image: url("../icons/left-arrow.svg");
}
header .swiper-nav .swiper-button-next:after {
  background-image: url("../icons/right-arrow.svg");
}

.offer {
  background-color: #f5f0ec;
}
.offer .col-lg-8 {
  padding-left: 11.5rem;
  padding-right: 5rem;
}
.offer .col-lg-8 h2 {
  margin-bottom: 3.2rem;
}
.offer .row {
  justify-content: center;
  margin-top: 9.6rem;
}
.offer .row .col-lg-4:hover {
  cursor: pointer;
}
.offer .row .col-lg-4:hover .offer-box {
  background-color: rgba(27, 91, 49, 0.3);
  box-shadow: -2px 10px 27px -7px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -2px 10px 27px -7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 10px 27px -7px rgba(0, 0, 0, 0.2);
  transform: translateY(-10%);
}
.offer .row .col-lg-4:hover h3 {
  color: #000;
}
.offer .row .col-lg-4:hover span svg {
  animation: arrow-right-left 1.5s infinite;
}
.offer .row .col-lg-4:first-of-type {
  padding-right: 4.27rem;
}
.offer .row .col-lg-4:first-of-type div {
  height: 4.4rem;
}
.offer .row .col-lg-4:first-of-type div img {
  margin: auto 0;
}
.offer .row .col-lg-4:nth-of-type(2) {
  padding: 0 2.13rem;
  animation-delay: 0.3s;
}
.offer .row .col-lg-4:nth-of-type(2) div {
  height: 4.4rem;
}
.offer .row .col-lg-4:nth-of-type(2) div img {
  margin: auto 0;
}
.offer .row .col-lg-4:last-of-type {
  padding-left: 4.27rem;
  animation-delay: 0.6s;
}
.offer .row .col-lg-4 .offer-box {
  transition: all 0.75s;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 37rem;
  padding: 4.8rem 4rem;
  background-color: #fff;
  border-radius: 2.8rem;
}
.offer .row .col-lg-4 .offer-box img {
  align-self: flex-start;
}
.offer .row .col-lg-4 .offer-box h3 {
  margin: 3.2rem 0 1.2rem;
}
.offer .row .col-lg-4 .offer-box .main-paragraph {
  font-size: 1.4rem;
}
.offer .row .col-lg-4 .offer-box span {
  position: relative;
  align-self: flex-start;
  margin-top: auto;
  padding-bottom: 0.4rem;
  color: #1b5b31;
  border-bottom: 1px solid #1b5b31;
}
.offer .row .col-lg-4 .offer-box span svg {
  display: inline-block;
  margin-left: 1rem;
  width: 1.6rem;
  height: 1.6rem;
}
.offer .row .col-lg-4 .offer-box span svg path {
  fill: #1b5b31;
}

.about-us {
  height: 72rem;
  background-color: #1b5b31;
  position: relative;
}
.about-us .fluid-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-size: 60% auto;
  background-repeat: no-repeat;
  background-position: center left calc(-25% - 3.2rem);
}
.about-us .fluid-container .container {
  display: flex;
  justify-content: flex-end;
}
.about-us .fluid-container .container .col-lg-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3.2rem;
}
.about-us .fluid-container .container .col-lg-6 div {
  padding-left: 9.6rem;
}
.about-us .fluid-container .container .col-lg-6 div h2,
.about-us .fluid-container .container .col-lg-6 div p {
  color: #f5f0ec;
}
.about-us .fluid-container .container .col-lg-6 div h2 {
  margin-bottom: 4rem;
}
.about-us .fluid-container .container .col-lg-6 div .main-paragraph {
  margin-bottom: 7.2rem;
}
.about-us .fluid-container .container .col-lg-6 div .btn-2 {
  border: 1px solid #f5f0ec;
  align-self: flex-start;
  color: #f5f0ec;
}
.about-us .fluid-container .container .col-lg-6 div .btn-2:hover svg {
  animation: arrow-right-left 1.5s infinite;
}
.about-us .fluid-container .container .col-lg-6 div .btn-2 svg {
  display: inline-block;
  margin-left: 0.8rem;
  width: 1.6rem;
  height: 1.6rem;
}
.about-us .fluid-container .container .col-lg-6 div .btn-2 svg path {
  fill: #f5f0ec;
}

.gallery {
  transition: all 0.75s;
  position: relative;
  height: 176rem;
  background-color: #dcc1ab;
  overflow: hidden;
}
.gallery .gallery-gradient {
  transition: all 0.75s;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #dcc1ab 0%, rgba(214, 183, 158, 0) 100%);
  z-index: 1;
}
.gallery .btn-2 {
  position: absolute;
  top: 162rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  width: 15rem;
  height: 5rem;
  color: #000;
  border: 1px solid #000;
  z-index: 99;
}
.gallery .btn-2 .galler-btn-text {
  transition: all 0.75s;
}
.gallery .btn-2 svg {
  transition: all 0.75s;
}
.gallery .btn-2 svg path {
  fill: #000;
}
.gallery .container h2 {
  margin-bottom: 5.2rem;
}
.gallery .grid {
  margin: 0 auto;
  max-width: 144rem;
}
.gallery .grid .grid-sizer,
.gallery .grid .grid-item {
  max-width: 31.3%;
}
.gallery .grid .grid-item {
  padding-top: 4.4rem;
}
.gallery .grid .grid-item img {
  width: 100%;
  height: auto;
}
.gallery .grid .grid-visible {
  height: 100%;
}

@media (max-width: 1440px) {
  .gallery .grid .grid-item {
    padding-top: 3rem;
  }
}
.fancybox__container {
  z-index: 99999;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.modal-body a {
  display: flex;
}
.modal-body a .img-100 {
  align-self: center;
  padding: 10px;
}

.button-down {
  bottom: 7rem;
  top: auto !important;
}

.show-gallery {
  height: 100%;
}

.hidden {
  opacity: 0;
  z-index: 0 !important;
}

.bgc-color {
  background-color: rgba(220, 193, 171, 0.7);
}

.instagram {
  padding: 6rem 0;
}
.instagram .container {
  display: flex;
  justify-content: center;
}
.instagram .instagram-box {
  padding: 12rem 11rem;
  width: 104rem;
  background-color: #1b5b31;
}
.instagram .instagram-box .row div:first-of-type {
  display: flex;
  margin-right: 6.4rem;
  width: 59.9rem;
}
.instagram .instagram-box .row div:first-of-type h2 {
  margin-top: auto;
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
}
.instagram .instagram-box .row div:first-of-type h2 span {
  font-family: "Inter", "Arial", "Helvetica", "Tahoma", sans-serif;
  font-weight: 500;
}
.instagram .instagram-box .row div:last-of-type {
  width: 15.7rem;
}
.instagram .instagram-box .row div:last-of-type h3 {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Inter", "Arial", "Helvetica", "Tahoma", sans-serif;
  color: #fff;
}
.instagram .instagram-box .row div:last-of-type .btn {
  padding: 1rem 2.4rem 1.2rem;
  border: 1px solid #fff;
  color: #1b5b31;
  background-color: #f5f0ec;
}
.instagram .instagram-box .row div:last-of-type .btn:hover span {
  color: #fff;
}
.instagram .instagram-box .row div:last-of-type .btn::before {
  background-color: #1b5b31;
}

footer {
  padding: 8rem 0;
  background-color: #000;
  overflow: hidden;
}
footer a,
footer p {
  color: #f5f0ec;
}
footer a:hover {
  color: #1b5b31;
}
footer .container .footer-container {
  max-width: 104rem;
  margin: 0 auto;
}
footer .container .footer-container .first-row {
  padding-bottom: 6.2rem;
  border-bottom: 0.1rem solid #f5f0ec;
}
footer .container .footer-container .first-row .col-lg-6:first-of-type {
  display: flex;
}
footer .container .footer-container .first-row .col-lg-6:first-of-type img {
  align-self: center;
}
footer .container .footer-container .first-row .col-lg-6:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer-container .first-row .col-lg-6:last-of-type p {
  display: inline;
}
footer .container .footer-container .first-row .col-lg-6:last-of-type .btn-1 {
  margin-right: 0;
}
footer .container .footer-container .second-row {
  margin-top: 6.2rem;
}
footer .container .footer-container .second-row .col-lg-6:first-of-type {
  display: flex;
}
footer .container .footer-container .second-row .col-lg-6:first-of-type a {
  display: inline;
  margin-right: 4.8rem;
}
footer .container .footer-container .second-row .col-lg-6:last-of-type {
  display: flex;
  justify-content: flex-end;
}
footer .container .footer-container .second-row .col-lg-6:last-of-type a:first-of-type {
  margin-right: 4.8rem;
}
footer .container .footer-container .third-row {
  margin-top: 12rem;
}
footer .container .footer-container .third-row .col-sm-6:last-of-type {
  display: flex;
  justify-content: flex-end;
}
footer .container .footer-container .third-row .col-sm-6:last-of-type span {
  display: inline-block;
  margin-right: 1.1rem;
}

@media (max-width: 1499.98px) {
  .about-us {
    height: 68rem;
  }
  .about-us .fluid-container .container .col-lg-6 div .main-paragraph {
    margin-bottom: 6.48rem;
  }
  .gallery .grid {
    max-width: 100%;
  }
}
@media (max-width: 1399.98px) {
  .container {
    max-width: 90%;
  }
  header .fluid-container .container .col-lg-6 {
    padding-right: 2rem;
  }
  .about-us {
    height: 58rem;
  }
  .about-us .fluid-container .container .col-lg-6 div {
    padding-left: 7.68rem;
  }
  .about-us .fluid-container .container .col-lg-6 div .main-paragraph {
    margin-bottom: 5.04rem;
    font-size: 1.4rem;
  }
  .about-us .fluid-container .container .col-lg-6 div .btn-2 {
    padding: 0.96rem 1.92rem 1.12rem;
    font-size: 1.4rem;
  }
  .gallery .grid .grid-item {
    padding-top: 1rem;
  }
}
@media (max-width: 1199.98px) {
  .padding-top-bottom {
    padding: 9.6rem 0 12.8rem 0;
  }
  header {
    height: 65rem;
  }
  header .fluid-container .container h1,
  header .fluid-container .container h2 {
    margin-bottom: 4rem;
    font-size: 4.5rem;
  }
  header .fluid-container .container p {
    margin-bottom: 5rem;
    padding-right: 2rem;
  }
  header .fluid-container .container .btn-2 {
    margin-top: 2rem;
  }
  header .swiper-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16.32rem;
    height: 8.16rem;
    background-color: #fff;
  }
  header .swiper-nav .swiper-button-prev {
    left: 3.5rem;
  }
  header .swiper-nav .swiper-button-next {
    right: 3.5rem;
  }
  header .swiper-nav .swiper-button-next:after,
  header .swiper-nav .swiper-button-prev:after {
    width: 2.295rem;
    height: 2.04rem;
  }
  .offer .col-lg-8 {
    padding-left: 6.9rem;
    padding-right: 4rem;
  }
  .offer .col-lg-8 h2 {
    margin-bottom: 2.56rem;
  }
  .offer .row {
    margin-top: 7.68rem;
  }
  .offer .row .col-lg-4:first-of-type {
    padding-right: 3.416rem;
  }
  .offer .row .col-lg-4:nth-of-type(2) {
    padding: 0 1.704rem;
  }
  .offer .row .col-lg-4:last-of-type {
    padding-left: 3.416rem;
  }
  .offer .row .col-lg-4 .offer-box {
    padding: 3.84rem 3.2rem;
  }
  .offer .row .col-lg-4 span {
    font-size: 1.4rem;
  }
  .about-us {
    height: 48rem;
  }
  .about-us .fluid-container .container .col-lg-6 div {
    padding-left: 0;
  }
  .about-us .fluid-container .container .col-lg-6 div .navi-small {
    margin-bottom: 0.8rem;
  }
  .about-us .fluid-container .container .col-lg-6 div h2 {
    margin-bottom: 2.8rem;
    font-size: 3.36rem;
  }
  .about-us .fluid-container .container .col-lg-6 div .main-paragraph {
    margin-bottom: 4.32rem;
  }
  .instagram .instagram-box {
    width: 100%;
  }
  .instagram .instagram-box .row div:last-of-type {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    width: 100%;
  }
  .instagram .instagram-box .row div:last-of-type h3 {
    margin: 0 2rem 0 0;
  }
}
@media (max-width: 991.98px) {
  .navbar .container .search-bar-mobile {
    position: relative;
    display: inline-block;
  }
  .navbar .container .search-bar-mobile button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  .navbar .container .search-bar-mobile button svg {
    width: 2.4rem;
    height: 2.4rem;
  }
  .navbar .container .search-bar-mobile button svg path {
    fill: #000;
  }
  .navbar .container .search-bar-mobile .search-form-mobile {
    position: absolute;
    display: none;
    top: 3rem;
    right: -20rem;
    left: -25rem;
    padding: 4rem 4rem;
    background-color: #fff;
    border-bottom-left-radius: 9rem;
    border-bottom-right-radius: 9rem;
  }
  .navbar .container .search-bar-mobile .search-form-mobile .form-control {
    width: 27.5rem;
    padding-top: 0.8rem;
    border: 1px solid #000;
    border-radius: 20rem;
  }
  .navbar .container .search-bar-mobile .search-form-mobile .form-control::-moz-placeholder {
    margin-top: 1rem;
    padding: 1rem 0 0 1.5rem;
    font-size: 1.6rem;
  }
  .navbar .container .search-bar-mobile .search-form-mobile .form-control::placeholder {
    margin-top: 1rem;
    padding: 1rem 0 0 1.5rem;
    font-size: 1.6rem;
  }
  .navbar .container .search-bar-mobile .search-form-mobile .form-control:focus {
    color: rgba(0, 0, 0, 0.7);
    border-color: #000;
    box-shadow: none;
  }
  .navbar .container .search-bar-mobile .search-form-mobile button {
    margin-left: 2rem;
    color: #fff;
    background-color: #1b5b31;
    border-radius: 20rem;
  }
  .navbar .container .search-bar-mobile .show-search-bar-mobile {
    display: flex;
  }
  .navbar .container .navbar-nav .nav-item {
    padding: 1.7rem 0 0 0;
  }
  .navbar .container .search-bar {
    display: none;
  }
  header {
    background-image: url("../img/ogrod-zywoplot-giarddesign.webp");
    background-position: center center;
    background-size: cover;
  }
  header .fluid-container {
    background: radial-gradient(ellipse, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
  }
  header .fluid-container .container .col-lg-6 {
    padding-right: 0;
  }
  header .fluid-container .container h1,
  header .fluid-container .container h2 {
    font-size: 5rem;
  }
  header .fluid-container .container .btn-2 {
    margin-top: 0;
  }
  .offer .row .col-lg-4:last-of-type {
    margin-top: 5.12rem;
    padding-left: 0;
  }
  .offer .row .col-lg-4 .offer-box {
    min-height: 34rem;
  }
  .about-us {
    height: 68rem;
    background-image: url("../img/giarddesign-realizacja-zdjecie-w-tle.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-us .hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 1;
  }
  .about-us .fluid-container {
    background-size: 0;
    z-index: 2;
  }
  .about-us .fluid-container .container .col-lg-6 {
    padding-left: 0;
  }
  .about-us .fluid-container .container .col-lg-6 div {
    padding: 0 4rem 0 6.9rem;
  }
  .about-us .fluid-container .container .col-lg-6 div .navi-small {
    margin-bottom: 1.6rem;
  }
  .about-us .fluid-container .container .col-lg-6 div h2 {
    margin-bottom: 4rem;
    font-size: 4.8rem;
  }
  .about-us .fluid-container .container .col-lg-6 div .main-paragraph {
    margin-bottom: 7.2rem;
    font-size: 1.6rem;
  }
  .about-us .fluid-container .container .col-lg-6 div .btn-2 {
    padding: 1.2rem 2.4rem 1.4rem;
    font-size: 1.6rem;
  }
  .gallery .grid .grid-sizer,
  .gallery .grid .grid-item {
    max-width: 48%;
  }
  .modal-dialog {
    max-width: 90%;
  }
  .modal-dialog .modal-body a {
    max-width: 140px;
  }
  .instagram .instagram-box {
    padding: 9.6rem 8.8rem;
  }
  .instagram .instagram-box .row div:first-of-type h2 {
    font-size: 3.2rem;
  }
  footer .container .footer-container .first-row .col-lg-6:first-of-type {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }
  footer .container .footer-container .second-row .col-lg-6 {
    display: flex;
    justify-content: center;
  }
  footer .container .footer-container .second-row .col-lg-6:last-of-type {
    justify-content: center;
    margin-top: 2.5rem;
  }
}
@media (max-width: 767.98px) {
  .navi-small {
    margin-bottom: 1.04rem;
  }
  .padding-top-bottom {
    padding: 7.2rem 0 9.6rem 0;
  }
  h2 {
    font-size: 3.84rem;
  }
  header {
    background-image: url("../img/ogrod-zywoplot-giarddesign-sm.webp");
  }
  header .fluid-container .container h1,
  header .fluid-container .container h2 {
    font-size: 4.5rem;
  }
  header .swiper-nav {
    top: 0;
    bottom: auto;
    width: 12.48rem;
    height: 6.24rem;
  }
  header .swiper-nav .swiper-button-prev {
    left: 2rem;
  }
  header .swiper-nav .swiper-button-next {
    right: 2rem;
  }
  header .swiper-nav .swiper-button-next:after,
  header .swiper-nav .swiper-button-prev:after {
    width: 1.755rem;
    height: 1.56rem;
  }
  .offer .col-lg-8 {
    padding-left: 4.6rem;
    padding-right: 4rem;
  }
  .offer .col-lg-8 h2 {
    margin-bottom: 1.92rem;
  }
  .offer .row {
    margin-top: 5.76rem;
  }
  .offer .row .col-lg-4:first-of-type {
    padding-right: 0;
  }
  .offer .row .col-lg-4:nth-of-type(2) {
    padding: 0;
  }
  .offer .row .col-lg-4:last-of-type {
    padding-left: 0;
  }
  .offer .row .col-lg-4 .offer-box {
    padding: 4.8 4;
    min-height: 30rem;
  }
  .offer .row .col-lg-4 span {
    font-size: 1.6rem;
  }
  .offer .row .col-lg-4:nth-of-type(2) {
    margin-top: 4.48rem;
  }
  .offer .row .col-lg-4:last-of-type {
    margin-top: 4.48rem;
  }
  .about-us {
    height: 60rem;
  }
  .about-us .fluid-container .container .col-lg-6 div {
    padding-left: 4.6rem;
  }
  .about-us .fluid-container .container .col-lg-6 div .navi-small {
    margin-bottom: 1.2rem;
  }
  .about-us .fluid-container .container .col-lg-6 div h2 {
    margin-bottom: 3.2rem;
    font-size: 3.84rem;
  }
  .about-us .fluid-container .container .col-lg-6 div .main-paragraph {
    margin-bottom: 5.76rem;
  }
  .gallery .grid .grid-item {
    max-width: 48%;
  }
  .modal-dialog {
    max-width: 95%;
  }
  .modal-dialog .modal-body a {
    max-width: 120px;
    overflow: hidden;
  }
  .instagram .instagram-box {
    padding: 7.2rem 6.6rem;
  }
  .instagram .instagram-box .row div:first-of-type h2 {
    font-size: 2.4rem;
  }
  .instagram .instagram-box .row div:last-of-type .btn {
    margin-right: 0;
  }
}
@media (max-width: 575.98px) {
  .cookie-box {
    width: 100%;
    border-top-right-radius: 3rem;
  }
  .cookie-box p {
    font-size: 1.6rem;
  }
  .navi-small {
    margin-bottom: 0.8rem;
  }
  h2 {
    font-size: 3.36rem;
  }
  p,
  .btn {
    font-size: 1.4rem;
  }
  .btn,
  .btn.btn-1 {
    padding: 1rem 2rem;
  }
  .container {
    max-width: 95%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .navbar .container {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  header .fluid-container {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.93) 50%, rgba(255, 255, 255, 0) 142%);
  }
  header .fluid-container .container h1,
  header .fluid-container .container h2 {
    margin-bottom: 3rem;
    font-size: 3.5rem;
  }
  header .fluid-container .container p {
    margin-bottom: 4rem;
  }
  header .fluid-container .container .btn-2 {
    margin-top: 0;
  }
  header .fluid-container .container .btn-2 .btn-2-arrow svg {
    width: 1.4rem;
    height: 1.4rem;
  }
  .offer .col-lg-8 {
    padding-left: 2.6rem;
  }
  .offer .row .col-lg-4 .offer-box {
    min-height: 34rem;
  }
  .about-us .fluid-container .container .col-lg-6 div {
    padding-left: 2.6rem;
  }
  .about-us .fluid-container .container .col-lg-6 div .navi-small {
    margin-bottom: 1.2rem;
  }
  .about-us .fluid-container .container .col-lg-6 div h2 {
    margin-bottom: 3.2rem;
    font-size: 3.36rem;
  }
  .about-us .fluid-container .container .col-lg-6 div .main-paragraph {
    margin-bottom: 5.04rem;
    font-size: 1.4rem;
  }
  .about-us .fluid-container .container .col-lg-6 div .btn-2 {
    padding: 0.96rem 1.92rem 1.12rem;
    font-size: 1.4rem;
  }
  .gallery .container h2 {
    margin-bottom: 3.2rem;
  }
  .gallery .grid .grid-sizer,
  .gallery .grid .grid-item {
    max-width: 100%;
    width: 100%;
    left: 50% !important;
    padding-top: 2rem;
    transform: translateX(-50%);
  }
  .modal-dialog .modal-body a {
    display: block;
    max-width: 90px;
    max-height: 90px;
  }
  .instagram {
    padding: 5rem 0;
  }
  .instagram .instagram-box {
    padding: 3.6rem 3.3rem;
  }
  .instagram .instagram-box .row div:first-of-type h2 {
    font-size: 2rem;
  }
  .instagram .instagram-box .row div:last-of-type {
    margin-top: 4rem;
  }
  .instagram .instagram-box .row div:last-of-type h3 {
    margin-right: 2rem;
    font-size: 1.4rem;
  }
  .instagram .instagram-box .row div:last-of-type .btn {
    padding: 0.8rem 1.92rem 0.96rem;
  }
  footer .container .footer-container .first-row .col-lg-6:last-of-type {
    flex-direction: column;
  }
  footer .container .footer-container .first-row .col-lg-6:last-of-type p,
  footer .container .footer-container .first-row .col-lg-6:last-of-type a {
    display: block;
  }
  footer .container .footer-container .first-row .col-lg-6:last-of-type a {
    align-self: center;
    margin-top: 1rem;
  }
  footer .container .footer-container .second-row .col-lg-6:first-of-type {
    flex-direction: column;
  }
  footer .container .footer-container .second-row .col-lg-6:first-of-type div {
    display: flex;
    justify-content: center;
  }
  footer .container .footer-container .second-row .col-lg-6:first-of-type div:last-of-type {
    margin-top: 2rem;
  }
  footer .container .footer-container .second-row .col-lg-6:first-of-type div a {
    display: block;
    margin: 0;
    width: 50%;
    text-align: center;
  }
  footer .container .footer-container .second-row .col-lg-6:last-of-type {
    margin-top: 4.5rem;
  }
  footer .container .footer-container .second-row .col-lg-6:last-of-type a {
    display: block;
    width: 50%;
    text-align: center;
  }
  footer .container .footer-container .second-row .col-lg-6:last-of-type a:first-of-type {
    margin: 0;
  }
  footer .container .footer-container .third-row {
    margin-top: 7rem;
  }
  footer .container .footer-container .third-row .col-sm-6:first-of-type {
    text-align: center;
  }
  footer .container .footer-container .third-row .col-sm-6:last-of-type {
    justify-content: center;
    margin-top: 1.5rem;
  }
}
@media (max-width: 475.98px) {
  .navbar .container .search-bar-mobile {
    display: flex;
    flex-direction: column;
  }
  .navbar .container .search-bar-mobile .search-form-mobile {
    left: -26rem;
    padding: 4rem 8rem;
  }
  .navbar .container .search-bar-mobile .search-form-mobile .form-control {
    width: 20rem;
  }
  header .fluid-container .container .btn-2 {
    margin-top: 2rem;
  }
  .instagram .instagram-box {
    padding: 3rem 2.75rem;
  }
  .instagram .instagram-box .row div:last-of-type {
    margin-top: 3.5rem;
  }
  .instagram .instagram-box .row div:last-of-type h3 {
    margin-right: 1rem;
    font-size: 1.3rem;
  }
  .instagram .instagram-box .row div:last-of-type .btn {
    padding: 0.7rem 1.68rem 0.84rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 399.98px) {
  h2 {
    font-size: 2.88rem;
  }
  h3 {
    font-size: 2.24rem;
  }
  .padding-top-bottom {
    padding: 6rem 0 8rem 0;
  }
  header {
    height: auto;
  }
  header .fluid-container .container h1,
  header .fluid-container .container header h2 {
    margin: 2rem 0 1.5rem;
    font-size: 2.4rem;
  }
  header .fluid-container .container p {
    margin-bottom: 2.5rem;
    font-size: 1.4rem;
  }
  header .fluid-container .container .btn-2 {
    margin-bottom: 2rem;
  }
  header .swiper-nav {
    width: 10rem;
  }
  .offer .row .col-lg-4 .offer-box h3 {
    margin-top: 2.5rem;
  }
  .offer .row .col-lg-4 .offer-box span {
    margin-top: 2rem;
    font-size: 1.4rem;
  }
  .about-us {
    height: 65rem;
  }
  .about-us .fluid-container .container .col-lg-6 div h2 {
    margin-bottom: 2.8rem;
  }
  .instagram .instagram-box .row div:last-of-type {
    flex-direction: column;
  }
  .instagram .instagram-box .row div:last-of-type h3 {
    margin-bottom: 1.5rem;
  }
  footer .container .footer-container .second-row .col-lg-6:last-of-type {
    flex-direction: column;
    align-items: center;
  }
  footer .container .footer-container .second-row .col-lg-6:last-of-type a {
    width: 100%;
  }
  footer .container .footer-container .second-row .col-lg-6:last-of-type a:last-of-type {
    margin-top: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */