$color1: #1b5b31;
$color2: #dcc1ab;
$colorWhite: #fff;
$colorBlack: #000;

$bgc1: #f5f0ec;

$fontFamily1: 'Montserrat', 'Arial', 'Helvetica', 'Tahoma', sans-serif;
$fontFamily2: 'Inter', 'Arial', 'Helvetica', 'Tahoma', sans-serif;

$h1: 6rem;
$h2: 4.8rem;
$h3: 2.8rem;

$xxxl: 1499.98px;
$xxl: 1399.98px;
$xl: 1199.98px;
$l: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 475.98px;
$xxs: 399.98px;
